<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <h1>GitHub Account Required</h1>

        <p>All materials on this resource hosted in <i>GitHub</i> repository of mentor.
            If you is <strong>owner</strong> after login you can edit all specializations, degrees and materials.
            Else you can edit materials of degree but it will be saved in you <i>GitHub Gist</i>.
        </p>

        <button class="btn btn-primary-outline btn-github" (click)="authenticate('github')">
            <i class="fa fa-github fa-normal"></i>
            Sign in with GitHub
        </button>

    </div>

</div>