<div>

    <h1>
        <span *ngIf="profession.isNew">New Specialization</span>
        <span *ngIf="!profession.isNew">Specialization</span>
    </h1>

</div>

<div loading-container [loading]="loading" class="page-specialization">

    <form [ngFormModel]="form">

        <div class="row">

            <div class="col-md-6">

                <div class="card card-block">

                    <div class="pull-right" *ngIf="!enableEdit">
                        <a (click)="toggleEdit()" class="btn btn-secondary-outline tooltipped tooltipped-nw" aria-label="Edit General Information">
                            <span class="fa fa-pencil fa-2x"></span>
                        </a>
                    </div>
                    <h4 class="card-title">General Information</h4>

                    <div *ngIf="!enableEdit">

                        <p>
                            <strong>Name:</strong> {{profession.name}}
                        </p>
                        <p>
                            <strong>Skills:</strong>
                            <span *ngFor="let tag of profession.tags; let i = index;">
                                {{tag}}<span *ngIf="i != profession.tags.length - 1">,</span>
                            </span>
                        </p>

                    </div>
                    <div *ngIf="enableEdit">
                        <div class="form-group" [class.has-error]="(name.dirty && !name.valid) || (errors && errors.name)">
                            <label for="name">Name</label>
                            <input #name="ngForm"  ngControl="name" [disabled]="!profession.isNew" class="form-control" id="name" name="name" type="text" required [(ngModel)]="profession.name"/>
                            <div class="help-block"
                                 *ngIf="name.dirty && name.errors && name.errors.required">
                                Required field
                            </div>
                            <div class="help-block"
                                 *ngIf="name.dirty && name.errors && name.errors.pattern">
                                Invalid field value
                            </div>

                            <div class="help-block text-muted">
                                Example: Javascript developer
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <label>Skills</label>
                                <ng-select [multiple]="true" [tagging]="true" [taggingTokens]="[',','SPACE','ENTER']"
                                           (data)="setTags($event)" [initData]="profession.tags"
                                           [items]="tags" class="custom-ui-select-table">
                                </ng-select>

                                <div class="help-block text-muted">
                                    Write skills that people gain in this specialization. Example: angular2, lodash, momentjs
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-default btn-cancel pull-right" [routerLink]="['MentorProfessions']" *ngIf="profession.isNew">
                            Cancel
                        </a>
                        <a class="btn btn-default btn-cancel pull-right" (click)="toggleEdit()" *ngIf="!profession.isNew">
                            Cancel
                        </a>
                        <button [disabled]="!form.valid" (click)="saveItem()" class="btn btn-primary pull-right">
                            <span *ngIf="!loading">Save</span>
                            <span *ngIf="loading">Saving <span class="spinner"></span></span>
                        </button>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="card card-block">

                    <h4 class="card-title">Levels</h4>

                    <div class="form-group">

                        <div *ngFor="let level of profession.levels; let i = index;">
                            <div *ngIf="!level.isDeleted">
                                {{level.name}}
                                <a confirm (onOk)="removeLevel(i)" [message]="'Remove this level ?'" title="Remove level">x</a>
                                <a [routerLink]="['MentorProfessionContent', {name: profession.name, level: level.name}]" class="btn btn-primary">Content</a>
                            </div>
                        </div>

                    </div>

                    <a class="btn btn-primary" (click)="addLevel()">
                        <span class="fa fa-plus"></span>
                        Add level
                    </a>
                </div>

            </div>

        </div>
    </form>

</div>