
<form [ngFormModel]="form">

<div>


    <button *ngIf="user && !user.is_owner" (click)="saveItemAsGist()" class="btn btn-primary pull-right">
        <span *ngIf="!loading">Save as Gist</span>
        <span *ngIf="loading">Saving <span class="spinner"></span></span>
    </button>
    <button *ngIf="user && user.is_owner" (click)="saveItem()" class="btn btn-primary pull-right">
        <span *ngIf="!loading">Save</span>
        <span *ngIf="loading">Saving <span class="spinner"></span></span>
    </button>

    <h1>
        <a [routerLink]="['MentorProfessionEdit', {name: professionName}]">
        {{professionName}}
        </a>
        <span class="fa fa-angle-right"></span>
        {{level.name}}
    </h1>

</div>

<div loading-container [loading]="loading" class="page-specialization">

    <div class="row">

        <div class="col-md-6">

            <div class="card card-block">

                <h4 class="card-title">General Information</h4>

                <div class="form-group" [class.has-error]="(name.dirty && !name.valid) || (errors && errors.name)">
                    <label for="name">Name</label>
                    <input [disabled]="user && !user.is_owner" #name="ngForm"  ngControl="name" class="form-control" id="name" name="name" type="text" required
                           (ngModelChange)="onLevelNameChanged($event)"
                           [ngModel]="level.name"/>
                    <div class="help-block"
                         *ngIf="name.dirty && name.errors && name.errors.required">
                        Required field
                    </div>
                    <div class="help-block"
                         *ngIf="name.dirty && name.errors && name.errors.pattern">
                        Invalid field value
                    </div>

                    <small class="help-block text-muted">
                        Example: Junior
                    </small>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-6">
            <div class="card card-inverse card-info">
                <div class="card-block">
                    <h4 class="card-title">Help</h4>

                    <blockquote class="card-blockquote">
                        <p>On this page you can search and add learning resources. It is available YouTube,
                            CourEra and GitHub "Awesome repository" resources.</p>
                        <footer>This list will be saved to <b>{{level.name}}.md</b> file in your GitHub repository</footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>


    <div class="card card-block">

        <h4 class="card-title">Resources</h4>

    <div class="row">

        <div class="col-md-6">

            <div id="search">
                <label for="search-input"><i class="fa fa-search"></i></label>
                <input id="search-input" class="form-control" placeholder="Search resource by keyword..." type="text" ngControl="queryStringInput" [(ngModel)]="queryString"/>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="currTabIndex == 1" (click)="setTab(1)">Youtube</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" [class.active]="currTabIndex == 2" (click)="setTab(2)">Coursera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="currTabIndex == 3" (click)="setTab(3)">Awesome Repository</a>
                </li>
            </ul>

            <div *ngIf="currTabIndex == 1">

                <div class="media" *ngFor="let result of youTubeResults">
                    <a class="media-left" href="https://www.youtube.com/watch?v={{result.id.videoId}}">
                        <img class="media-object" [src]="result.snippet.thumbnails.default.url">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="https://www.youtube.com/watch?v={{result.id.videoId}}" target="_blank">
                                {{result.snippet.title}}
                                <span class="fa fa-external-link"></span>
                            </a>
                        </h4>
                        {{result.snippet.description}}

                        <a (click)="addToLevel(result, 'youtube'); modal.open('lg');" class="btn btn-success-outline btn-xs pull-right">
                            Approved <span class="fa fa-arrow-right"></span>
                        </a>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                </div>
                <br/>
                <div class="alert alert-info" *ngIf="youTubeResults">We showed you only first <strong>5</strong> results. If you want see more you must write more detailed query</div>
                <div class="text-center" *ngIf="!queryString">
                    Enter some query for start search
                </div>
            </div>
            <div *ngIf="currTabIndex == 2">
                <div class="media" *ngFor="let result of courseraResults">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="https://pt.coursera.org/learn/{{result.slug}}" target="_blank">
                                {{result.name}}
                                <span class="fa fa-external-link"></span>
                            </a>
                        </h4>

                        <a (click)="addToLevel(result, 'coursera'); modal.open('lg');" class="btn btn-success-outline btn-xs pull-right">
                            Approved <span class="fa fa-arrow-right"></span>
                        </a>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                </div>
                <br/>
                <div class="alert alert-info" *ngIf="courseraResults">We showed you only first <strong>10</strong> results. If you want see more you must write more detailed query</div>
                <div class="text-center" *ngIf="!queryString">
                    Enter some query for start search
                </div>
            </div>
            <div *ngIf="currTabIndex == 3">

                <div class="media" *ngFor="let result of awesomeResults">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{result.href}}" target="_blank">
                                {{result.name}}
                                <span class="fa fa-external-link"></span>
                            </a>
                        </h4>
                        Category: {{result.category }}

                        <a (click)="addToLevel(result, 'awesome'); modal.open('lg');" class="btn btn-success-outline btn-xs pull-right">
                            Approved <span class="fa fa-arrow-right"></span>
                        </a>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                </div>
                <br/>
                <div class="alert alert-info" *ngIf="awesomeResults">We showed you only first <strong>10</strong> results. If you want see more you must write more detailed query</div>
                <div class="text-center" *ngIf="!queryString">
                    Enter some query for start search
                </div>
            </div>


            <modal #modal class="modal-dialog modal-lg">
                <modal-header [show-close]="true">
                    <h4 class="modal-title">Resource Additional Information</h4>
                </modal-header>
                <modal-body>
                    <form *ngIf="profession && currItemIndex >= 0" name="tagsForm" novalidate>
                        <div class="form-group">
                            <label>Skills</label>
                            <ng-select [multiple]="true" [data]="level.items[currItemIndex].tags"
                                       [initData]="level.items[currItemIndex].tags" (data)="onSelectTag($event)"
                                       [items]="profession.tags" class="custom-ui-select-table"></ng-select>

                            <small class="text-muted">
                                Select skills that you can learn from this resource
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <div>
                                <textarea rows="4" id="description" [(ngModel)]="level.items[currItemIndex].description" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </modal-body>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">OK</button>
                </div>
            </modal>

        </div>
        <div class="col-md-6">

            <div>Approved resources</div>

            <div class="media" *ngFor="let result of level.items; let i = index">
                <a class="media-left" *ngIf="result.img && result.img != 'undefined'" href="{{result.source}}">
                    <img class="media-object" [src]="result.img">
                </a>
                <div class="media-body">
                    <a (click)="showResourceInfo(i); modal.open('lg');" class="btn btn-secondary-outline btn-xs pull-right">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a (click)="removeFromLevel(result)" class="btn btn-danger-outline btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </a>
                    <h4 class="media-heading">
                        <a href="{{result.source}}" target="_blank">
                            {{result.name}}
                            <span class="fa fa-external-link"></span>
                        </a>
                    </h4>
                    {{result.description}}

                    <div class="clearfix"></div>
                    <hr/>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>

    </div>

    </div>

</div>


</form>