<style>
    .badge:hover {
        background-color: orangered;
    }
    .list-options {
        vertical-align: middle;
        display: inline-block;
    }
    [hidden] {
        display: none;
    }
    .ng-valid[required] {
        border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid {
        border-left: 5px solid orange; /* orange */
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>Professions</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form (ngSubmit)="addNew(doc)" #todoForm="ngForm">
                        <input required [(ngModel)]="doc.title" ngControl="title" #name="ngForm" id="doc" type="text" class="form-control" size="50">
                        <div class="form-inline">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>