<form [ngFormModel]="form">

    profession: {{profession|json}}
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group" [class.has-error]="(name.dirty && !name.valid) || (errors && errors.name)">
                <label for="name">Name</label>
                <input #name="ngForm"  ngControl="name" [disabled]="!profession.isNew" class="form-control" id="name" name="name" type="text" required [(ngModel)]="profession.name"/>
                |{{name.dirty}}/{{name.errors|json}}|
                <div class="help-block"
                     *ngIf="name.dirty && name.errors && name.errors.required">
                    Required field
                </div>
                <div class="help-block"
                     *ngIf="name.dirty && name.errors && name.errors.pattern">
                    Invalid field value
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="controls">
            <label>Tags</label>
            <ng-select [multiple]="true" [tagging]="true" [taggingTokens]="[',','SPACE','ENTER']"
                       (data)="setTags($event)" [initData]="profession.tags"
                       [items]="tags" class="custom-ui-select-table">
            </ng-select>
        </div>
    </div>

    <div class="form-group">
        <div class="controls">
            <label>Levels</label>
            <a (click)="addLevel()">add</a>
            <ul>
                <li *ngFor="let level of profession.levels; let i = index;">
                    <div *ngIf="!level.isDeleted">
                        <input required  (ngModelChange)="onLevelNameChanged(i, $event)" [ngModel]="profession.levels[i].name" type="text" class="form-control" size="50">
                        <a (click)="removeLevel(i)">x</a>
                        <a [routerLink]="['MentorProfessionContent', {name: profession.name, level: level.name}]" class="btn btn-primary">Content</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <button [disabled]="!form.valid" (click)="saveItem()" class="btn btn-primary">
        <span *ngIf="!lLoading">Save</span>
        <span *ngIf="lLoading">Saving <span class="spinner"></span></span>
    </button>

    <a class="btn btn-default btn-cancel" [routerLink]="['MentorProfessions']">
        Cancel
    </a>

    <p>Valid?: {{form.valid}}</p>
    <pre>{{form.value | json}}</pre>
</form>