<form name="formEdit" [ngFormModel]="professionForm" #formEdit="ngForm" novalidate>


    queryString: {{queryString}}

    <input class="form-control" type="text" ngControl="queryStringInput" required [(ngModel)]="queryString"/>

    <div>
        <div>Youtube</div>
        <ul>
            <li *ngFor="let result of level.items['youtube.com']">
                <a href="{{result.source}}" target="_blank">
                    <h3>{{result.title}}</h3>
                </a>
                <p>{{result.description}}</p>
                <img [src]="result.img" style="width: 100%; max-width: 90px" />
            </li>

            <li *ngFor="let result of youTubeResults$ | async">
                <a href="https://www.youtube.com/watch?v={{result.id.videoId}}" target="_blank">
                    <h3>{{result.snippet.title}}</h3>
                </a>
                <p>{{result.snippet.description}}</p>
                <img [src]="result.snippet.thumbnails.default.url" style="width: 100%; max-width: 90px" />
                <a (click)="addToProfession(result, 'youtube')">+</a> /
                <a (click)="removeFromProfession(result)">-</a>
            </li>
        </ul>
    </div>
    <div>
        <div>CoursEra</div>
        <li *ngFor="let result of level.items['coursera.org']">
            <a href="{{result.source}}" target="_blank">
                <h3>{{result.title}}</h3>
            </a>
            <p>{{result.description}}</p>
            <img [src]="result.img" style="width: 100%; max-width: 90px" />
        </li>

        <ul>
            <li *ngFor="let result of courseraResults$ | async">
                {{result.name}}
                <a (click)="addToProfession(result, 'coursera')">+</a> /
                <a (click)="removeFromProfession(result)">-</a>
            </li>
        </ul>
    </div>
    <div>
        <div>Awesome</div>
        <li *ngFor="let result of level.items['github.com']">
            <a href="{{result.source}}" target="_blank">
                <h3>{{result.title}}</h3>
            </a>
            <p>{{result.description}}</p>
            <img [src]="result.img" style="width: 100%; max-width: 90px" />
        </li>

        <ul>
            <li *ngFor="let result of awesomeResults$ | async">
                [{{result.category }}] <a href="{{result.href}}" target="_blank">{{result.name}}</a>
                <a (click)="addToProfession(result, 'awesome')">+</a> /
                <a (click)="removeFromProfession(result)">-</a>
            </li>
        </ul>
    </div>


</form>