<div>

    <div class="page-actions pull-right">
        <a [routerLink]="['MentorProfessionCreate']" class="btn btn-primary">Add new</a>
    </div>

    <h1>Specializations</h1>

</div>

<div class="slats" loading-container [loading]="loading">
    <ul>
        <li class="pr" *ngFor="let doc of docs">

            <div class="row">
                <div class="col-xs-9 meta">
                    <!--label class="c-input c-checkbox">
                        <input type="checkbox">
                        <span class="c-indicator"></span>
                    </label-->
                    <h4><span class="fa fa-book"></span> <a [routerLink]="['MentorProfessionEdit', {name:doc.name}]">{{doc.name}}</a></h4>
                </div>
                <div class="col-xs-3 meta-actions">

                    <a class="btn btn-secondary tooltipped tooltipped-nw" aria-label="View Specialization" [routerLink]="['MentorProfessionEdit', {name:doc.name}]">View</a>

                    <a [href]="doc.htmlUrl" target="_blank" class="btn btn-secondary tooltipped tooltipped-nw" aria-label="Show on GitHub">
                        <span class="fa fa-github fa-2x"></span>
                    </a>

                </div>
            </div>

        </li>
    </ul>
</div>