<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <div style="margin:0 auto">
                <img src="/assets/img/logo.png" />
            </div>
            <h1>About Team</h1>

            <p>
                The project united our small team, during two days we were in the middle of a prairie of directives and space of component precipices. Kilometers of code given hard... <br />
                Sincerely yours:
            </p>

            <ol>

                <li>
                    <strong>Alex Slubsky</strong>
                </li>
                <li>
                    <strong>Yuriy Kosakivsky</strong>
                </li>
                <li>
                    <strong>Vitalii Savchuk</strong>
                </li>
                <li>
                    <strong>Mike Koval</strong>
                </li>

            </ol>

            <div style="margin:0 auto">
                <p><img src="https://docs.google.com/uc?authuser=0&id=0Byo0y4ooF1-pVHIyTEpnSmRobGc&export=download"/></p>
                <p><img src="https://docs.google.com/uc?authuser=0&id=0Byo0y4ooF1-pX1VTRkRGQmpLTkk&export=download"/></p>
                <p><img src="https://docs.google.com/uc?authuser=0&id=0Byo0y4ooF1-pYzlXYWtTZzdVN1k&export=download"/></p>


            </div>

        </div>

    </div>
</div>