<div class="container">
    <ul *ngIf="items">
        <li *ngFor="let result1 of items">
            {{result1.id}}

            <ul *ngIf="result1.children">
                <li *ngFor="let result2 of result1.children">
                    {{result2.id}}

                    <ul *ngIf="result2.children">
                        <li *ngFor="let result3 of result2.children">
                            {{result3.id}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>