<div class="container">

	<nav class="navbar navbar-light">
		<a class="navbar-brand" [routerLink]="['PublicSpecializations']">AwesomeMentor</a>
		<ul class="nav navbar-nav">
			<li class="nav-item" [class.active]="router.isRouteActive(router.generate(['PublicSpecializations']))">
				<a class="nav-link" [routerLink]="['PublicSpecializations']">Specializations</a>
			</li>
			<li class="nav-item" [class.active]="router.isRouteActive(router.generate(['MentorProfessions']))">
				<a class="nav-link" [routerLink]="['MentorProfessions']">Manage</a>
			</li>
			<li class="nav-item" [class.active]="router.isRouteActive(router.generate(['About']))">
				<a class="nav-link" [routerLink]="['About']">About</a>
			</li>
		</ul>
		<div class="navbar-actions pull-xs-right">
			<span *ngIf="user">
				<img *ngIf="user.avatar_url" [src]="user.avatar_url" width="32" height="32" />
				{{user.name}}
			</span>

			<a [routerLink]="['MentorLogin']" *ngIf="!auth.isAuthenticated()" class="btn btn-success-outline">Become a Mentor</a>

			<a (click)="logout()" *ngIf="auth.isAuthenticated()" class="btn btn-secondary-outline">Logout</a>
		</div>
	</nav>

	<div *ngIf="githubService.getRateLimitRemaining() < 10">Overflow Github rate limit</div>

	<div class="wrapper" *ngIf="router && router.navigating"></div>
	<router-outlet></router-outlet>
</div>
