<div class="container">

	<nav class="navbar navbar-light">
		<a class="navbar-brand" href="#">AwesomeMentor</a>
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="['MentorProfessions']">Professions</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Features</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Pricing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
		<div class="navbar-actions pull-xs-right">
			<span *ngIf="user">
				<img *ngIf="user.avatar_url" [src]="user.avatar_url" width="32" height="32" />
				{{user.name}}
			</span>

			<a [routerLink]="['MentorLogin']" *ngIf="!auth.isAuthenticated()" class="btn btn-success-outline">Become a Mentor</a>

			<a (click)="logout()" *ngIf="auth.isAuthenticated()" class="btn btn-secondary-outline">Logout</a>
		</div>
	</nav>


	<div>

		<img src="/assets/img/logo.png" />

	</div>


	<router-outlet></router-outlet>
</div>
