.navbar-brand {
  background-image: url('/assets/img/logo_small.png');
  color: transparent;
  background-size: 126px 39px;
  background-repeat: no-repeat;
  width: 8.4rem;
  height: 2.6rem;
  margin-top: .5rem;
  text-indent: -1000px;
  overflow: hidden;
}

.nav-pills {
  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $nav-pills-color;
      background-color: $nav-pills-background;
    }
  }
}

.navbar.navbar-light {
  padding: 0;
  margin-bottom: 20px;

  .navbar-brand {
    padding: 0.75rem;
  }
  .nav-link {
    font-weight: 600;
    color: rgba($main-color, 0.8);
  }
  .active .nav-link {
    color: $main-color;
  }

  .navbar-actions {
    margin-top: .6rem;
  }

  .navbar-nav .nav-item.active:after {
    border-color: #fa63a8;
  }
}

.navbar-nav {
  .nav-item {
    font-weight: 600;
    position: relative;
    -ms-transition: all 0.29s ease-in-out 0s;
    transition: all 0.29s ease-in-out 0s;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: #e5e5e5;
    }
    &.active {
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0px;
        left: 0px;
        border-bottom: 3px solid #d0d0d0;
      }
    }
  }
}