body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  vertical-align: baseline;
  overflow: hidden;
}
.body-scroll {
  overflow-x: auto;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
strong, .strong {
  font-weight: 600;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 100;
}
a {
  cursor: pointer;
}
h1, .h1 {
  letter-spacing: -.1rem;
  text-transform: capitalize;
  margin-bottom: 25px;

  &.navbar-brand {
    margin-bottom: 0;
  }
}
h3, .h3 {
  font-style: italic;
}
.small-meta {
  font-size: 13px;
  line-height: inherit;
  font-weight: 600;
}
.text-center {
  text-align: center;
}

.pr {
  position: relative;
}
.page-header {
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 5;

  h1 {
    display: inline-block !important;
    vertical-align: bottom;
    line-height: 1.6em;
    letter-spacing: -0.03em;
    margin-bottom: 0;
  }
  .page-actions {
    float: right;
    display: inline-block;
    margin: 6px 0 0 15px;
  }
}

.nav-tabs {
  margin-bottom: 15px;
}

// Section
.sub-section {
  margin-bottom: 60px;
}


// inputs
.c-input {
  .c-indicator {
    top: 3px;
    left: 2px;
  }
  > input {
    &:checked ~ .c-indicator {
      background-color: $link-color;
    }
    &:focus ~ .c-indicator {
      // the mixin is not used here to make sure there is feedback
      box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $link-color;
    }
  }
}

.form-control-label {
  padding-left: 0;
  padding-right: 0;
}

// ui-select
.ui-select-search {
  border: none;
  outline: none;
}
.btn.ui-select-match-item {
  padding: 0 .4rem;
  margin-bottom: 4px;
  line-height: 1.5rem;
  .close {
    line-height: 1.5rem;
  }
}

.page-specialization {

  .ui-select-choices {
    display: none;
  }

}

// search
#search {
  position: relative;
  font-size: 18px;
  padding-top: 40px;
  margin: -20px auto 20px;
  label {
    position: absolute;
    left: 17px;
    top: 49px;
  }

  #search-input {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
    border: 1px solid #ccc;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }
}