<div>

    <h1>
        Specializations
    </h1>

</div>
<div loading-container [loading]="loading" class="container">

    <div class="row">

        <div class="col-md-4">

            <div class="card shepherd-target mentor-block" *ngIf="mentorUser">
                <div class="card-block">
                    <h4 class="card-title">About Mentor</h4>
                    <div class="card-text">
                        <strong>{{mentorUser.name}}</strong>
                        <div *ngIf="mentorUser.email" class="icon-w"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a [href]="'mailto:' + mentorUser.email">{{mentorUser.email}}</a></div>
                        <div *ngIf="mentorUser.company" class="icon-w"><i class="fa fa-users" aria-hidden="true"></i> {{mentorUser.company}}</div>
                        <div *ngIf="mentorUser.location" class="icon-w"><i class="fa fa-map-marker" aria-hidden="true"></i> {{mentorUser.location}}</div>
                    </div>
                    <a [href]="repositoryUrl" target="_blank" class="btn btn-info-outline pull-right">
                        View repository <span class="fa fa-github fa-normal"></span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="card card-block shepherd-target general-information-block">

                <h4 class="card-title">Table Of Contents</h4>

                <ul class="list-dotted list-unstyled specialization-list" *ngIf="items">
                    <li *ngFor="let result2 of items">
                        <span class="fa fa-book"></span>
                        {{result2.id}}

                        <ul *ngIf="result2.children">
                            <li *ngFor="let result3 of result2.children">
                                <a (click)="getLevelItems(result2.id, result3.id)">{{result3.id}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col-md-8">


            <div class="card card-block shepherd-target main-block">

                <div *ngIf="!selectedLevel">

                    <h2>Welcome aboard</h2>

                    <a (click)="startTour()" class="btn btn-danger-outline btn-tour">
                        <span class="fa fa-play-circle fa-5x"></span>
                        Start Tour
                    </a>
                </div>
            <div *ngIf="selectedLevel">

                <ul class="list-dots" *ngIf="profession">
                    <li><strong>Skills:</strong></li>
                    <li class="nodot" [class.active]="currTag == ''"><a (click)="filterByTag('')">All</a></li>
                    <li [class.active]="tag == currTag" *ngFor="let tag of profession.tags"><a (click)="filterByTag(tag)">{{tag}}</a></li>
                </ul>

                <h4 class="card-title">Resources</h4>

                <div *ngIf="!selectedLevel.items.length" class="text-center">
                    No items by you request
                </div>
                <div class="media" *ngFor="let result of selectedLevel.items; let i = index">
                    <div *ngIf="!result.blacklist">
                        <a class="media-left" *ngIf="result.img && result.img != 'undefined'" href="{{result.source}}">
                            <img class="media-object" [src]="result.img">
                        </a>
                        <div class="media-body">
                            <div class="pull-right">
                                <a (click)="markAsDone(i)"><span class="fa fa-check text-success" *ngIf="result.checked"></span><span class="fa fa-check text-muted" *ngIf="!result.checked"></span></a>
                                <a (click)="markAsLater(i)"><span class="fa fa-star text-warning" *ngIf="result.starred"></span><span class="fa fa-star-o text-muted" *ngIf="!result.starred"></span></a>
                                <a (click)="markAsHidden(i)" class="text-danger"><span class="fa fa-times"></span></a>
                            </div>

                            <h4 class="media-heading">
                                <div class="pull-right">

                                </div>
                                <a href="{{result.source}}" target="_blank">
                                    {{result.name}}
                                    <span class="fa fa-external-link"></span>
                                </a>
                            </h4>
                            {{result.description}}

                            <p>
                                <span *ngFor="let tag of result.tags">
                                    <a (click)="filterByTag(tag)" class="label label-default">{{tag}}</a>
                                </span>
                            </p>

                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                    </div>
                </div>

            </div>
            </div>

        </div>

    </div>

</div>